In [2]:
expenses = [1200, 1300, 1500, 1700]
total_expenses = expenses[0] + expenses[1] + expenses[2] + expenses[3]
total_expenses

5700

In [5]:
total_expenses = 0
for expense in expenses:
    total_expenses += expense
print(total_expenses)

5700

In [7]:
total_expenses = 0
for i in range(len(expenses)):
    print(f"month {i + 1}, expense: {expenses[i]}")
    total_expenses += expenses[i]
print("total", total_expenses)

month 1, expense: 1200
month 2, expense: 1300
month 3, expense: 1500
month 4, expense: 1700
total 5700

In [11]:
monthly_sales = [42, 38, 33, 38, 40, 45]
months = ["jan", "feb", "mar", "apr", "may", "jun"]
threshold = 35

for sales_amount, month in zip(monthly_sales, months):
    if sales_amount < threshold:
        print(f"Sales amount {sales_amount} is less than threshold in {month}")
        break
    else:
        print(f"Sales amount {sales_amount} is greater than threshold in {month}")

Sales amount 42 is greater than threshold in jan
Sales amount 38 is greater than threshold in feb
Sales amount 33 is less than threshold in mar

In [14]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [15]:
n = 0

while n < 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [17]:
products = ["iphone", "ipad", "macbook"]
regions = ["usa", "china", "india"]
revenue = [20, 23, 45, 18, 17, 12, 12, 9, 5]

i = 0
for product in products:
    for region in regions:
        rev = revenue[i]
        i += 1
        print(f"{product} {region}: {rev}")

iphone usa: 20
iphone china: 23
iphone india: 45
ipad usa: 18
ipad china: 17
ipad india: 12
macbook usa: 12
macbook china: 9
macbook india: 5

In [19]:
prices = [300, 50, 1200, 10]
sorted(prices)
# print(prices[2])

[10, 50, 300, 1200]